<footer class="footer">

    <h1 class="footer__header"> contact us </h1>
    <div class="footer__box contacts">
        <div class="contacts__container"
             data-anijs="if:wheel, on:window, do: bounceInLeft animated,before: scrollReveal, after: removeAnim">
            <div class="box-img">
                <img src="./img/phone.png">
            </div>
            <div class="text"> +45 50 89 89 89</div>
        </div>
        <div class="contacts__container">
            <div class="box-img">
                <img src="./img/contact.png">
            </div>
            <div class="text"> contact@fifium.com</div>
        </div>
        <div class="contacts__container"
             data-anijs="if:wheel, on:window, do: bounceInRight animated,before: scrollReveal, after: removeAnim">
            <div class="box-img">
                <img src="./img/adress.png">
            </div>
            <div class="text"> Friderikgade 7, 1265 Kbh K</div>
        </div>
    </div>
    <div class="contact-field">
        <div class="footer__box email"
             data-anijs="if:wheel, on:window, do: bounceInLeft animated,before: scrollReveal, after: removeAnim">
            <span class="input-rect"></span><input class="email__input" type="text" placeholder="Name">
        </div>
        <div class="footer__box email"
             data-anijs="if:wheel, on:window, do: bounceInRight animated,before: scrollReveal, after: removeAnim">
            <span class="input-rect"></span><input class="email__input" type="email" placeholder="E-mail">
        </div>
        <div class="footer__box email">
            <span class="input-rect"></span><input class="email__input" type="text" placeholder="Message">
        </div>
    </div>
    <div class="footer__box btn"
         data-anijs="if:wheel, on:window, do: slideInUp animated,before: scrollReveal, after: removeAnim">
        <button type="button" class="btn__send">
            send
        </button>
    </div>
    <a href="#">
        <div class="btn__fixed"></div>
    </a>
</footer>