@import "partials/header";
@import "partials/content";
@import "partials/footer";

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#page-wrapper {
  position: relative;
  z-index: 2;
}